
<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/thegenuines/"><i class="fa fa-instagram"></i></a>
    <!--- <a href="#"><i class="fa fa-facebook"></i></a> -->
  </div>
  <div class="footer-copyright">
   All Content Copyright © 2017. Webdesign by S.Smith.
  </div>
</div>

