<div class="container-fluid">
  <div class="container">
    <div class="gallery">
      <div class="gallery-img">
        <%= image_tag "First.png"  %>
      </div>
      <div class="gallery-img">
        <%= image_tag "Second.png"  %>
      </div>
      <div class="gallery-img">
        <%= image_tag "Third.png"  %>
      </div>
    </div>
  </div>
</div>
