<div class="container-fluid">
  <div class="col-xs-3">
    <div class=title>
     <h4>
       <% @albums.each do |album| %>
         <%= link_to album_path(album) do %>
          <li><%= album.name %></li>
         <% end %>
       <% end %>
     </h4>
   </div>
 </div>

 <div class="col-xs-9">
  <div class="gallery">
    <div class="gallery-img">
      <%= link_to album_path(@album) do %>
        <%= image_tag "Claudiaoct.jpg"  %>
      <% end %>
    </div>
  </div>
 </div>
</div>


