<div class="container-fluid">
  <div class="col-xs-3">
    <div class=title>
     <h4>
       <% @albums.each do |album| %>
         <%= link_to album_path(album) do %>
          <li><%= album.name %></li>
         <% end %>
       <% end %>
     </h4>
   </div>
 </div>

 <div class="col-xs-9">
   <div class="landing-photo">
      <%= link_to album_path(@album) do %>
       <%= cl_image_tag Photo.first.photo.path, width: 480, height: 690, crop: :fill %>
      <% end %>
    </div>
 </div>
</div>


