<div class="container">
  <div class="col">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Uplad a new photo</h1>
      <%= render 'form' %>
      <%= link_to 'Back', albums_path %>
    </div>
  </div>
</div>

