<!-- <h1><%= @album.name %></h1> -->

  <% if user_signed_in? %>
    <%= link_to "Add a photo", new_album_photo_path(@album.id) %>
  <% end %>





  <div class="image-container">
    <%= render "imagecarrousel" %>
  </div>



</div>
