#carousel-custom {
  margin-top:  10px;
  width: 100%;
}
#carousel-custom .carousel-indicators {
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
#carousel-custom .carousel-indicators li {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  margin: 0 !important;
  width: auto;
}
#carousel-custom .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
  opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
  opacity: 0.75;
}
#carousel-custom .carousel-outer {
  position: relative;
}
.carousel-control.left {
  background-image: none;
  width: 54px;
  height: 54px;
  top: 50%;
  left: 20px;
  margin-top: -27px;
  line-height: 54px;
  border: 2px solid #fff;
  opacity: 1;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.carousel-control.right {
  background-image: none;
  width: 54px;
  height: 54px;
  top: 50%;
  right: 20px;
  margin-top: -27px;
  line-height: 54px;
  border: 2px solid #fff;
  opacity: 1;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
