
h1 {
  font-size:26px;
  font-weight: lighter;
  text-align: center;
  font-family: "Quattrocento Sans Regular light", "Helvetica", "sans-serif";
}

.month {
  max-height: 50%;
  max-width: 100%;
  object-fit: cover;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 30px;
    overflow: hidden;
}

.gallery.landing{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 20px;
    margin-top: 25px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    opacity: 0.8;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
}

@media screen and (max-width: 767px) {
.gallery.landing {
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
}
}

.gallery img:hover {
    opacity: 1;
}

.modal-img,.model-vid{
  width:100%;
  height: auto;
}
.modal-body{
  padding:0px;
}

.modal-dialog {
    text-align: center;
    vertical-align: middle;
    display: block;
    top: 10%;
}

.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
  .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
  .gallery div { margin: 0;
        width: 200px;
    }
}

@media screen and (max-width: 479px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .gallery div {
        margin: 0;
        width: 200px;
    }
}


.quote {
  border-top: 4px double $border;
  border-bottom: 4px double $border;
  margin: 20px 10px;
  padding: 20px 0;
  width: 500px;
  > * {
    margin-left: 20px;
  }
  p {
    color: $grey-65;
    font: {
      family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      size: 8px;
    };
    text-transform: uppercase;
  }
  blockquote {
    border: 0;
    color: $darkgrey;
    font: {
      family: Georgia, serif;
      size: 14px;
      style: italic;
    };
    line-height: 28px;
    padding: 0
  }
  h2 {
    font: {
      family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      size: 14px;
    };
    line-height: 26px;
    margin-bottom: 0;
  }
  h6 {
    color: $grey-50;
    font: {
      family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      size: 12px;
    };
    line-height: 10px;
    margin-top: 0;
    text-transform: uppercase;
  }
  img {
    float: left;
    margin-right: 10px;
  }
}
